<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gradescopespringboot.mapper.UserMapper">

    <select id="selectById" resultType="com.example.gradescopespringboot.entity.User">
        SELECT
        id,
        username,
        password_hash,
        real_name,
        email,
        phone,
        user_no,
        avatar_url,
        gender,
        status,
        last_login_at,
        created_at,
        updated_at,
        is_deleted
        FROM users
        WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultType="com.example.gradescopespringboot.entity.User">
        SELECT
        id,
        username,
        password_hash,
        real_name,
        email,
        phone,
        user_no,
        avatar_url,
        gender,
        status,
        last_login_at,
        created_at,
        updated_at,
        is_deleted
        FROM users
        WHERE username = #{username}
    </select>


    <insert id="insert"
            parameterType="com.example.gradescopespringboot.entity.User"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO users (
        username,
        password_hash,
        real_name,
        email,
        phone,
        user_no,
        avatar_url,
        gender
        ) VALUES (
        #{username},
        #{passwordHash},
        #{realName},
        #{email},
        #{phone},
        #{userNo},
        #{avatarUrl},
        #{gender}
        )
    </insert>

</mapper>